@import '../../sass/abstracts';

.main-container {
  position: relative;
  height: 100vh;
  background: url(../../../assets/images/franz-nawrath-68dhWEZICig-unsplash.jpg);
}
.illustration {
  height: 85vh;
  width: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    316deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 1rem;
  border: 1px inset rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.5);
}

.main-content-container {
  display: flex;
  justify-content: space-around;
  width: 98%;
  height: 97%;
  margin: 1rem;
  padding: 1rem;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  margin: 20px;
}

.left-section {
  width: 40%;
  justify-content: start;
  align-items: flex-start;
  margin-top: 5%;
}

.illustration-title {
  text-align: left;
  font-size: 45px;
  letter-spacing: -0.5px;
  color: #0058a3;
  opacity: 1;
  margin: 6% 0;
}

.image-container {
  width: 95%;
  height: 95%;
  svg {
    width: 100%;
    height: 100%;
  }
}

.description {
  font-size: 20px;
  text-align: left;
  letter-spacing: 0px;
  color: #0058a3;
  opacity: 1;
  margin: 6% 0;
}

.redirect-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.redirect-link {
  text-align: left;
  letter-spacing: 0px;
  color: #0058a3;
  opacity: 1;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.back-btn {
  font-size: 22px;
  height: auto;
  width: auto;
  font-weight: normal;
  padding: 5px 40px;
  margin: 6% 0;
}

.arrow-icon {
  width: 2rem;
  height: 2rem;
}
