@import "../../sass/abstracts";

.account {
  @include content-2(0, 1rem, 1rem, $grey-ultra-light);
  &--page-title {
    background: scale-color($blue-dark, $lightness: +90%);
    border-radius: 1rem 1rem 0 0;
    h1 {
      font-size: 1.5rem;
    }
  }
}
